# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
# dist/  <-- Zostawiamy zakomentowane, jeśli faktycznie chcesz commitować zbudowane pliki
dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?